*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(76, 76, 146);
    height:100vh;
}
.logo img{
    width: 75px; height: 75px;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
header{
    padding: 20px 4%;
    background-color: white;
}
header > .interface{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header a{
    color: rgb(175, 56, 159);
    text-decoration: none;
    display: inline-block;
}
header a:hover{
    color: rgb(240, 97, 221);
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(183, 68, 194);
    border: 0;
    border-radius: 30px;

    cursor: pointer;
}

h2.titulo{
    color: black;
    text-align: center;  
}

.img-topo-do-site p{
    font-size: 30px;
}

.img-topo-do-site img{
    width: 300px; height: 300px;
    border-radius: 50%;
}
section.topo-de-site{
    padding: 30px 4%;
}

section.topo-de-site .flex{
    align-items: center;
    justify-content: center;
}

section.curiosidades{
    padding: 40px 4%;
    text-align: left;
}
section.curiosidades .flex{
    gap: 60px;
}
.curiosidade-box img{
    padding: 40px;
    width: 300px; height: 300px;
    border-radius: 50%;
}

.curiosidade-box img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px pink;
    transition: .2s;
}

.curiosidade-box p{
    padding: 40px;
    font-size: 20px;
    border-radius: 20px;
}

.curiosidade-box p:hover{
    transform: scale(1.o5);
    box-shadow: 0 0 8px pink;
    transition: .2s;
}

.logo-footer img{
    width: 75px; height: 75px;
}